bw2calc>=1.3
bw2data>=3.3
bw2parameters>=0.7.1
bw_migrations
bw_processing
lxml
matrix_utils
mrio_common_metadata
numpy
openpyxl
platformdirs
pytest
pytest-cov
python-coveralls
requests
scipy
stats_arrays
tqdm
unidecode
voluptuous
xlrd
xlsxwriter
