bw2calc>=1.3
bw2data>=3.3
bw_migrations
ecoinvent_interface
lxml
mrio_common_metadata
numpy==1.23
openpyxl
psutil
pyprind
pytest
pytest-cov
python-coveralls
scipy
stats_arrays
unidecode
voluptuous
xlrd
xlsxwriter
