bw2calc>=1.3
bw2data>=3.3
bw_migrations
bw_processing
lxml
matrix_utils
mrio_common_metadata
numpy
openpyxl
psutil
pyprind
pytest
pytest-cov
python-coveralls
requests
tqdm
scipy
stats_arrays
unidecode
voluptuous
xlrd
xlsxwriter
